In [1]:
from utils import get_tiger_mortality_data, get_tiger_reserve_data

In [2]:
tiger_reserve_data = get_tiger_reserve_data()
tiger_mortality_data = get_tiger_mortality_data()

,Sl No,Tiger Reserve (TR),PA Notificn Year,State,TR Notifcn Year,Core Area (sq km),Buffer Area (sq km),Total Area (sq km)
0,1.0,Bandipur,1973-74,Karnataka,2007,872.24,584.06,1456.3
1,2.0,Corbett,1973-74,Uttarakhand,2010,821.99,466.32,1288.31
2,NaN,Amanagarh buffer,–,Uttar Pradesh,2012,–,80.60,80.60
3,3.0,Kanha,1973-74,Madhya Pradesh,2007,917.43,1134.36,2051.79
4,4.0,Manas,1973-74,Assam,2008,526.22,2310.88,2837.10